query {
  viewer {
    jokes(first: 10 /*The offset*/, after: "TUr71e=!" /*Cursor*/) {
      edges {
        cursor //Cursor
        node {
          text
          funnyLevel
        }
      }
      pageInfo { //pageInfo contains info about whether there exist more edges
        hasNextPage
      }
    }
  }
}
