query {
  user {
    jokes(first: 10 /*The offset*/, after: "TUr71e=!" /*Curser*/) {
      edges {
        cursor //Curser
        node {
          title
          funnyness
        }
      }
      pageInfo { //pageInfo contains info about whether there exist more edges
        hasNextPage
      }
    }
  }
}
