"data" {
  "user" {
    "jokes": [
      {
        "id": "1",
        "text": "How do you make a tissue"
      },

      ...

      {
        "id": "500",
        "text": "Pfooo, only half way"
      },

      ...

      {
        "id": "1000",
        "text": "Too many jokes! This is not funny anymore!"
      }
    ]
  }
}
