mutation AddJoke {
  addJoke(input: $input) {
    clientMutationId
    joke {
      title
      funnyness
    }
  }
}

{
  "input": {
    "clientMutationId": "549b5e7c-0516-4fc9-8944-125401211590",
    "text": `What does a developer say when you need to jump away from
    a car? Reaact!!`,
    "funnyness": 9000
  }
}
