
const addJokeMutation = mutationWithClientMutationId({
  name: 'AddJoke',
  inputFields: {
    title: { type: new GraphQLNonNull(GraphQLString) },
    funnyness: { type: new GraphQLNonNull(GraphQLFunnyness) }
  },
  outputFields: {
    Joke: {
      type: jokeType,
      resolve: async (payload) => await Joke.gen(payload.id)]
    }
  },
  mutateAndGetPayload: async ({title, funnyness}) => {
    const newJoke = {
      title,
      funnyness
    };
    return await Joke.write(newJoke);
  }
});
