import { globalIdField } from "graphql-relay";

const jokeType = new GraphQLObjectType({
  name: 'Joke',
  fields: () => ({
    //Construct global id from class name + database id.
    id: globalIdField("Joke", (joke: Joke): ID => joke.id)
  }),
  isTypeOf: obj => obj instanceof Joke, // Relay will use this
  interfaces: [nodeInterface] // Relay will use this
});
