import { nodeDefinitions, fromGlobalId } from "graphql-relay";

const { nodeInterface, nodesField, nodeField } = nodeDefinitions(
  (globalId, {viewer}: Context) => {
    const { type, id } = fromGlobalId(globalId);

    if (type === "Joke") return Joke.gen(viewer, id);
    else if (type === "User") return User.gen(viewer, id);
    else return null;
  });
