const GraphQLJoke = new GraphQLObjectType({
  name: 'Joke',
  fields: {
    id: {
      type: new GraphQLNonNull(GraphQLID)
    },
    text: {
      type: new GraphQLNonNull(GraphQLString)
    },
    funnyLevel: {
      type: new GraphQLNonNull(GraphQLInt),
      description: "How funny is this joke? The higher the better;)"
    }
  }
});
