class Joke {
  static async gen(viewer: User, id: string): Promise<?Joke> {}

  static async update(
    viewer: User,
    jokeId: string,
    funnyLevel: number
  ): Promise<Joke> {
    if (funnyLevel < 0 || funnyLevel > 5)
      throw new Error("Invalid funny level.");

    const joke = await Joke.gen(viewer, jokeId);
    if (!joke) throw new Error("No joke for id");

    await joke.setFunnyLevel(funnyLevel);
    return joke;
  }
}
