const validFunnyLevel = (funnyLevel: number) {
  return (funnyLevel >= 0 && funnyLevel <= 5);
}

class Joke {

  static async gen(id: string): Promise<?Joke> {}

  static async update(jokeId: string, funnyLevel: number): Promise<Joke> {
    if (!validFunnyLevel(funnyLevel))
      throw new Error('Invalid funny level.');
    //...
  }

  static async create(text: string, funnyLevel: number): Promise<Joke> {
    if (text.length == 0) throw new Error('Please provide a joke');
    if (!validFunnyLevel(funnyLevel))
      throw new Error('Invalid funny level.');

    const data = await db.joke.create({text, funnyLevel});
    return new Joke(data);
  }
}
