const mutation = {
    type: new GraphQLNonNull(GraphQLJoke),
    description: "Update a joke.",
    args: {
        jokeId: { type: new GraphQLNonNull(GraphQLID) },
        funnyLevel: { type: new GraphQLNonNull(GraphQLInt) }
    },
    resolve: async (root, args) => {
      if (args.funnyLevel < 0 || args.funnyLevel > 5)
        throw new Error('Invalid funny level.');

      const data = await db.joke.findById(id);
      if (data == null) throw new Error('No joke exists for the id');

      data.funnyLevel = funnyLevel;
      async data.save();
      return data;
    }
}
