resolve: async (root, args, context) => {
  /* validation */
  if (args.funnyLevel < 0 || args.funnyLevel > 5)
    throw new Error('Invalid funny level.');

  const data = await db.joke.findById(args.jokeId);
  if (data == null) throw new Error('No joke exists for the id');
  /* authorization */
  if (data.creator !== context.viewer.id) throw new Error('No joke exists for the id')

  /* Perform update */
  data.funnyLevel = funnyLevel;
  async data.save();
  return data;
}
