import Joke from "../logic";

const mutation = {
    type: new GraphQLNonNull(GraphQLJoke),
    description: "Update a joke.",
    args: {
        jokeId: { type: new GraphQLNonNull(GraphQLID) },
        funnyLevel: { type: new GraphQLNonNull(GraphQLInt) }
    },
    resolve: (root, args, context) => {
      //...
    }
}
