const mutation = {
    type: new GraphQLNonNull(GraphQLJoke),
    description: "Create a joke.",
    args: {
        text: { type: new GraphQLNonNull(GraphQLString) },
        funnyLevel: { type: new GraphQLNonNull(GraphQLInt) }
    },
    resolve: async (root, args) => {
      if (text.length == 0) throw new Error('Please provide a joke');
      if (args.funnyLevel < 0 || args.funnyLevel > 5)
        throw new Error('Invalid funny level.');

      const newJoke = db.joke.create({
        text: args.text,
        funnyLevel: args.funnyLevel
      });
      return newJoke;
    }
}
