export default (sequelize: Object, DataTypes: Object): Object => {
  const jokeEntity = sequelize.define('joke', {
    text: {
      type: DataTypes.STRING,
      allowNull: false
    },
    funnyLevel: {
      type: DataTypes.INTEGER,
      allowNull: false,
    }
  });

  return jokeEntity;
}
