{
  joke: {
    type: GraphQLJoke,
    args: {
      id: {
        type: new GraphQLNonNull(GraphQLID)
      }
    },
    resolve: (
      root,
      args: {id: string},
      context
    ): Promise<?Joke> => Joke.gen(context.viewer, args.id)
  }
}
