import Joke from "../logic";

const query = {
  joke: {
    type: GraphQLJoke,
    args: {
      id: {
        type: new GraphQLNonNull(GraphQLID)
      }
    },
    resolve: (root, args, context) => Joke.gen(context.viewer, args.id)
  }
}
