const query = {
  joke: {
    type: GraphQLJoke,
    args: {
      id: {
        type: new GraphQLNonNull(GraphQLID)
      }
    },
    resolve: (root, args) {
      return db.joke.findById(args.id);
    }
  }
}
