const query = {
  joke: {
    type: GraphQLJoke,
    args: {
      id: {
        type: new GraphQLNonNull(GraphQLID)
      }
    },
    resolve: async (root, args) {
      const data = await db.joke.findById(id);
      return data;
    }
  }
}
