{
  joke: {
    type: GraphQLJoke,
    args: {
      id: {
        type: new GraphQLNonNull(GraphQLID)
      }
    },
    resolve: (
      root,
      args: {id: string}
    ): Promise<?Joke> => Joke.gen(args.id)
  }
}
