const GraphQLJoke = new GraphQLObjectType({
  name: 'Joke',
  fields: {
    id: {
      type: new GraphQLNonNull(GraphQLID),
      resolve: (data) =>  data.id
    },
    text: {
      type: new GraphQLNonNull(GraphQLString),
      resolve: (data) => data.text
    },
    funnyLevel: {
      type: new GraphQLNonNull(GraphQLFunnyLevel),
      resolve: (data) => data.funnyLevel
    }
  }
});
