const GraphQLJoke = new GraphQLObjectType({
  name: 'Joke',
  fields: () => ({
    id: {
      type: new GraphQLNonNull(GraphQLID),
      resolve: (joke: Joke): ID =>  joke.id
    },
    text: {
      type: new GraphQLNonNull(GraphQLString),
      resolve: (joke: Joke): string => joke.text
    },
    funnyLevel: {
      type: new GraphQLNonNull(GraphQLFunnyLevel),
      resolve: (joke: Joke): 1|2|3|4 => joke.funnyLevel
    }
  })
});
