class User {
  static async gen(viewer: User, id: string): Promise<?User> {}

  async getFriends(viewer: User, first: number) {
    const data = await db.friends.findAll({
      where: {
        from_id: this.id
      },
      limit: first,
      attributes: ["to_id"]
    });

    return data.map(entry => User.gen(viewer, entry.to_id));
  }
}
