class User {
  static async gen(viewer: User, id: string, loader: DataLoader<string, ?Object>): Promise<?User> {
    const data = loader.load(id);
    if (data == null) return null;
    // Add some authorization logic
    const canSee = checkCanSee(viewer, id);
    return canSee ? new User(data) : null;
  }

  constructor(data) {
    this.id = data.id;
    this.name = data.name;
    this.bestFriend = data.bestFriend;
  }

  async getFriends(viewer: User, first: number, loader: DataLoader<string, ?Object>): Promise<Array<User>> {
    const data = await db.friends.findAll({
      where: {
        from_id: this.id
      },
      limit: first,
      attributes: ["to_id"]
    });

    return data.map(entry => User.gen(viewer, entry.to_id, loader));
  }
}
