class User {
  static async gen(
    viewer: User,
    id: string,
    loader: DataLoader<string, ?Object>
  ): Promise<?User> {
    const data = loader.load(id);
    if (data == null) return null;
    /* authorization check*/
    const canSee = checkCanSee(viewer, id);
    return canSee ? new User(data) : null;
  }
}
