class User {
  static async gen(viewer: User, id: string): Promise<?User> {
    const data = db.user.findById(id);
    if (data == null) return null;
    /*authorization check */
    const canSee = checkCanSee(viewer, id);
    return canSee ? new User(data) : null;
  }
}
