export default class ClientError {
  constructor(message) {
    this.name = 'ClientError';
    this.message = message;
    Error.captureStackTrace(this, ClientError);
  }
}

ClientError.prototype = Object.create(Error.prototype);
