//Mutation:
mutation {
  addJoke(input({text: "" funnyLevel: 4 ClientMutationId: "H0r5!e="}) {
    joke {
      id
    }
  }
}

//Mutation result
{
  "data": null,
  "errors": [
    {
      "message": "Can you please provide a joke with more than zero characters? :)",
      "locations": [
        {
          "line": 20,
          "column": 5
        }
      ]
    }
  ]
}
