export default (debugMode: boolean = false): ErrorFormatter => {
  return (error: GraphQLError) => {
    let message: string;

    if (debugMode) { //Show all errors in debug mode
      message = error.message;
    } else if (error.originalError){ //Internal if graphql error caused by bug
      message = "Internal Server Error";
    } else {
      message = error.message; //Show error message if error not caused by bug
    }

    return {
      message,
      ...(error.locations ? { locations: error.locations } : null),
      ...(error.path ? { path: error.path } : null),
      ...(debugMode ? { stack: error.stack } : null)
    };
  };
}
