class Joke {
  static async create(text: string, funnyLevel: number): Promise<Joke> {

    //Possible input errors:
    if (text.length == 0)
      throw new ClientError('Can you please provide a joke with more than zero characters? :)');

    const data = await db.joke.create({
      text,
      funnyLevel
    });

    //Internal error since data is not a function
    return new Joke(data());
  }
}
