class Joke {

  static async gen(id: string): Promise<?Joke> {
    const data = await db.joke.findById(id);
    return data ? new Joke(data) : null;
  }

  id: string;
  text: string;
  funnyLevel: 1 | 2 | 3 | 4;

  constructor(data: Object) {
    this.id = data.id;
    this.text = data.text;
    this.funnyLevel = data.funnyLevel;
  }
}
